@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
:root{
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


/*  Buttons  */
.button {
  padding: 0.7rem 1.1rem;
  border: 0;
}

.button--white {
  background: var(--very-light-gray);
}

.button--round {
  border-radius: 3rem;
}

.button--sedans {
  color: var(--bright-orange);
}

.button--suvs {
  color: var(--dark-cyan);
}

.button--luxury {
  color: var(--very-dark-cyan);
}

/* Text  */
.text {
  font-size: 1.5rem;
}

.text .heading {
  font-family: 'Big Shoulders Display', sans-serif;
  font-weight: 700;
}

.text .paragraph {
  font-family: 'Lexend Deca', sans-serif;
}

.text--padding {
  padding: 1.2rem;
} 