@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
:root{
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--very-light-gray);
}

html{
  font-size: 62.5%;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


/*  Buttons  */
.button {
  padding: 1.5rem 2.2rem;
  border: none;
  font-family: 'Lexend Deca', sans-serif;
  margin-bottom: 2rem;
  outline: 0;
}

.button:hover {
  cursor: pointer;
  border: 2px solid var(--very-light-gray);
  background: none;
  color: var(--very-light-gray);
}

.button--white {
  background: var(--very-light-gray);
}

.button--round {
  border-radius: 3rem;
}

.button--sedans {
  color: var(--bright-orange);
}

.button--suvs {
  color: var(--dark-cyan);
}

.button--luxury {
  color: var(--very-dark-cyan);
}


/* Text  */
.text {
  font-size: 1.5rem;
}

.text .heading {
  font-family: 'Big Shoulders Display', sans-serif;
  font-weight: 700;
}

.text .paragraph {
  font-family: 'Lexend Deca', sans-serif;
  line-height: 1.5;
}

.text--padding {
  padding: 1.2rem;
}

.text--white {
  color: var(--very-light-gray);
}

/* Card   */
.card {
  margin: 2rem;
  padding: 2rem;
  margin-bottom: 0;
  margin-top: 0;
}

.card__round1 {
  border-radius: 0.8rem 0.8rem 0 0;
}

.card__round2 {
  border-radius: 0 0 0.8rem 0.8rem;
}

.card__component {
  padding: 2rem;
}

.card--sedans {
  background: var(--bright-orange);
}

.card--suvs {
  background: var(--dark-cyan);
}

.card--luxury {
  background: var(--very-dark-cyan);
}


